################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CalculadoraGrafica/.vs/CalculadoraGrafica/FileContentIndex
